node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.development
.env.development.local
.env.local
.env.production
.env.production.local
web-build/

# macOS
.DS_Store
